.posts{
height: 70%;
width: 80%;
display: grid;
grid-template-columns: repeat(3, minmax(200px, 1fr));
grid-gap: 40px;

} 

@media screen and (max-width: 1250px) {
    .posts{
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        
        }
}


@media screen and (max-width: 650px) {
    .posts{
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        
        }
}