input{
        padding: 20px 100px;
        font-size: 1rem;
        border-width: calc(var(--border-width) * 1px);
        border-style: solid;
        border-color: var(--accent);
        border-radius: calc(var(--border-radius) * 1px);
        text-align: center;
        outline: transparent;
        margin-bottom: 12px;
      

}