.search-input{
        
        font-size: 1rem;
        border-width: calc(var(--border-width) * 1px);
        border-style: solid;
      

}

 .search-bar-input{
        background-color: antiquewhite;
        height: 50%;
    }