@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts_images/UbuntuMono-Regular.ttf'); }

 @font-face {
    font-family: 'Monoton';
    src: url('../../fonts_images/Monoton-Regular.ttf'); }
 
@font-face {
            font-family: 'Wallpoet';
            src: url('../../fonts_images/Wallpoet-Regular.ttf');
        }
 
/* temporary colour scheme and font styling card #959ce8 #FBD1A2*/
:root{
    --highlight:#f36471;
    --backgroundColor1: #fff7f8 ;
    --backgroundColor: #fff7f8;
    --darkColor: #3F403F;
    --secondHighlight:#959ce8;
    --textFont: 'Ubuntu';
    --titleFont: 'Monoton';
    --titleFont2: 'Black-ops-one';
    --titleFont3: 'Wallpoet';

}

body {
	margin: 0;
	padding: 0;
	border: 0;
}

.App{
    background-color: var(--backgroundColor);
    display: flex;
    
}

.poster{
    height: 400px;
    width: 800px;
}
.searchBarContainer{
    background-color: var(--secondHighlight);
    margin-top: 120px;
/*     width: 100%;
    height: 60%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
 
}

.postsContainer{
    background-color: var(--secondHighlight);
/*     height: 100vh;
    width: 90vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    

}