@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts_images/UbuntuMono-Regular.ttf'); }

 @font-face {
    font-family: 'Monoton';
    src: url('../../fonts_images/Monoton-Regular.ttf'); }
 
@font-face {
            font-family: 'Wallpoet';
            src: url('../../fonts_images/Wallpoet-Regular.ttf');
        }
 
/* temporary colour scheme and font styling card */
:root{
    --highlight: #677F64;
    --backgroundColor1: #EFF0F2;
    --backgroundColor: #1b4baa;
    --darkColor: #000000;
    --secondHighlight: #e9f1ef;
    --textFont: 'Ubuntu';
    --titleFont: 'Monoton';
    --titleFont2: 'Black-ops-one';
    --titleFont3: 'Wallpoet';

}

body {
	margin: 0;
	padding: 0;
	border: 0;
}

.App{
    background-color: var(--backgroundColor);
    display: flex;
    
}

h1{
    font-family: var(--titleFont3);
    color: #111827;
    font-size: 80px;
}
.searchBarContainer{
    background-color: var(--secondHighlight);
    margin-top: 120px;
/*     width: 100%;
    height: 60%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
 
}

.postsContainer{
    background-color: var(--secondHighlight);
/*     height: 100vh;
    width: 90vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    

}