@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts_images/UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: "Q";
  src: url("../../fonts_images/Questrial-Regular.ttf");
}

/* temporary colour scheme and font styling card #959ce8 #FBD1A2*/
:root {
  --highlight: #f36471;
  --highlight3: #f3a2a9;
  --backgroundColor1: #fff7f8;
  --backgroundColor: #fbd1a2;
  --darkColor: #3f403f;
  --secondHighlight: #959ce8;
  --textFont: "Ubuntu";
  --titleFont2: "Q";
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}


.poster {
  height: 400px;
  width: 800px;
}



  
.postsContainer {
  background-color: var(--backgroundColor1);
  /*     height: 100vh;
    width: 90vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
