.search-container{
    display: flex;
    flex-direction: column;
    background-color: #0a0013a7;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
}

.search-bar-container{
    margin-top: 25vh;
}
.search-bar-container, .search-bar-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}