nav {
position: fixed;
display: flex;
justify-content: space-between;
background-color: var(--backgroundColor1);
width: 100%;
height: auto;
padding: 10px 0 10px 30px;
border-bottom: 2px solid grey;

}
/* .header {
    display: flex;
    
/*     justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    padding: 0.5vh; */

/*} 
*/

nav > img {
    width: 100px;
    height: 100px;
}
   
ul {
    list-style-type: none;
    font-family: var(--textFont);
    display: inline;
}
li a {
    display: block;
    padding: 10px;
    color: var(--darkColor);
    text-decoration: none;
}

li {
   display: inline;
     float: left;
     font-size: 25px;
    padding: 8px 5px 0px 10px;

}

li a:hover {
    text-decoration: underline;
    color: var(--highlight);
}

li.welcome {
    float: right;
    padding-right: 50px;
    font-weight: 800;
    
}
