.post {
    width: 300px;
    margin: 0px 25px 40px 25px;
    /* border: 1px solid red; */
    background-color: rgb(224, 221, 221);
    padding: 10px;
    border-radius: 10px;
}

.post:hover{
    /* border: 2px solid grey; */
    box-shadow: 0 0 5px 5px var(--backgroundColor);
}

.userStyle{
    font-size: 18px;
    color: grey;
}
.stack{
    font-size: 14px;
    font-weight: 600;
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat {
    font-family: var(--textFont);
    font-size: 11px;
    color: var(--darkColor);
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px
}

.postTitle {
    font-family: var(--textFont);
    font-size: 24px;
    margin-top: 15px;

}

.postDate {
    font-family: var(--textFont);
    font-style: italic;
    font-size: 13px;
    color: var(--darkColor);
    margin-top: 15px;
    font-weight: 300;

}

.postDes {
    font-family: var(--textFont);
    font-size: 14px;
    color: var(--darkColor);
    line-height: 20px;
    margin-top: 15px;

}