.post {
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.27);
    font-family: var(--textFont);
    padding: 30px;
    color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);


   
}

.post:hover{
    box-shadow: 0 0 5px 5px var(--highlight3);
   
}

.userStyle{
    font-size: 18px;
    font-style: italic;
    
}
.stack{
    font-size: 18px;
   
   
}

.postInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.postCat {
    font-family: var(--textFont);
    font-size: 15px;
    color: var(--darkColor);
    line-height: 20px;
    margin-top: 20px;
    margin-right: 10px;
    font-style: italic;
}

.postTitle {
    font-family: var(--textFont);
    font-size: 30px;
    margin-top: 15px;

}

.postDes {
    font-family: var(--textFont);
    font-size: 16px;
    color: var(--darkColor);
    line-height: 20px;
    margin-top: 30px;
    

}