.post {
    width: 100%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.27);
    font-family: var(--textFont);
    color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border-left: 2px solid var(--highlight);

    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
}

.post:hover{
    box-shadow: 0 0 5px 5px var(--highlight3);
   
}

.userStyle{
    font-size: 18px;
    font-style: italic;
    
}
.stack{
    font-size: 0.8rem;
word-spacing: 3px; 
letter-spacing: 2px; 
font-weight: 200; 
   
}

.postInfo {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.postCat {
    font-family: var(--textFont);
    font-size: 15px;
    color: var(--darkColor);
    font-style: italic;
}

.postTitle {
    max-width: 90%;
    font-family: var(--titleFont);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow:hidden;
  white-space: nowrap;

}

.postDes {
    font-family: var(--textFont);
    font-weight: 200;
    font-size: 16px;
    color: whitesmoke;
    
}